[submodule "err_handle"]
	path = err_handle
	url = git@github.com:sedihglow/err_handle.git
[submodule "convnum"]
	path = convnum
	url = git@github.com:sedihglow/convnum.git
[submodule "shared/input"]
	path = shared/input
	url = git@github.com:sedihglow/input.git
